<div class="col-md-9 fade-in one">
    <div class="section" id="sec-interfaces">
        <span class="banner">Interfaces</span>
        <div class="text text-muted">
            <p class="subtopic orange">Bem vindo!</p>
            <p>
                Essa interface apresenta os componentes desenvolvidos e modularizados para
                serem reaproveitados.
            </p>
        </div>
    </div>
</div>
<div class="col-md-3 fade-in one" ng-controller="HomeController">
    <ul class="sidemenu staatliches">
        <li><a href="" ng-class="{'link-active': isSobre}">Sobre</a></li>
        <li><a href="">Como utilizar</a></li>
        <li><a href="">Criando componente</a></li>
    </ul>
</div>